<footer class="container">
    <p
        style="text-align: center; color: lightgrey; padding: 20px; margin: 20px; background-color: darksalmon; border-radius: 100px;">
        © 2021–2025 Password Management System, Inc.   <a href="#">Privacy</a> · <a href="#">Terms</a> <br>
        <a href="mailto:srk694307@gmail.com">srk694307@gmail.com</a><br>
        <a href="callto:7765955247 , 8168583827">7765955247 , 8168583827</a><br>
        <a href="#">Back to Top</a>
    </p>
</footer>