/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #FF00FF;
  border-radius: 15px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #0000FF;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: left;
}

/* Style the container */
.container {
  border-radius: 20px;
  background-color:blueviolet;
  padding: 0px;
  
}

input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #FF00FF;
  border-radius: 15px;
  box-sizing: border-box;
  resize: vertical;
}






